{% extends "index.html" %} 
{% block title %}
    Álbum | JetBooms
{% endblock title%}

{% block styles_apply %} 
    {% load static %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static "css/albumLogueado.css" %}" /> 
    {% else %}
        <link rel="stylesheet" href="{% static "css/albumSinLoguear.css" %}" /> 
    {% endif %}
{% endblock styles_apply %}
 
{% block main_content %}
    {% if user.is_authenticated %}
    <main class="main">
        <div class="tabs">
            <input type="radio" name="tab-group" id="tab1" checked>
            <label for="tab1" class="tab-label">Álbumes</label>
        
            <input type="radio" name="tab-group" id="tab2">
            <label for="tab2" class="tab-label">Retos</label>
        
            <div class="tab-content">
                <div class="tab-panel" id="content1">
                    <div class="contenedor-temporal"> 
                        <div class="container-album">
                            <div class="slider-frame">
                                <ul>
                                    <li><img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen 1" /></li>
                                    <li><img src="{% static "img/cardPlazaBolivar.webp" %} "alt="Imagen 2" /></li>
                                    <li><img src="{% static "img/cardMNacionalC.webp" %} "alt="Imagen 3" /></li>
                                    <li><img src="{% static "img/cardPSimonBolivar.webp" %} "alt="Imagen 4" /></li>
                                </ul>
                            </div>
                                    
                            <div class="circlePicture">
                                <figure class="userCirclePicture">
                                    <img class="avatarImg" src="{% static "img/imgFotoPerfil.webp" %} "alt="Imagen de Colombia" />
                                </figure>
                            </div>
            
                            <div class="contenedor-texto">
                                <h3>
                                    Cony Quiroga
                                </h3>
                                <a href="#" class="btn-base" type="button" >
                                    <span class="material-symbols-rounded">collections_bookmark</span>
                                    Ver álbum
                                </a>
                            </div>
                        </div>
                        
                        <div class="container-album">
                            <div class="slider-frame">
                                <ul>
                                    <li><img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen 1" /></li>
                                    <li><img src="{% static "img/cardPlazaBolivar.webp" %} "alt="Imagen 2" /></li>
                                    <li><img src="{% static "img/cardMNacionalC.webp" %} "alt="Imagen 3" /></li>
                                    <li><img src="{% static "img/cardPSimonBolivar.webp" %} "alt="Imagen 4" /></li>
                                </ul>
                            </div>
                                    
                            <div class="circlePicture">
                                <figure class="userCirclePicture">
                                    <img class="avatarImg" src="{% static "img/imgFotoPerfil.webp" %} "alt="Imagen de Colombia" />
                                </figure>
                            </div>
            
                            <div class="contenedor-texto">
                                <h3>
                                    Cony Quiroga
                                </h3>
                                <a href="html/crearCuenta.html" class="btn-base" type="button" >
                                    <span class="material-symbols-rounded">collections_bookmark</span>
                                    Ver álbum
                                </a>
                            </div>
                        </div>
                        <div class="container-album">
                            <div class="slider-frame">
                                <ul>
                                    <li><img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen 1" /></li>
                                    <li><img src="{% static "img/cardPlazaBolivar.webp" %} "alt="Imagen 2" /></li>
                                    <li><img src="{% static "img/cardMNacionalC.webp" %} "alt="Imagen 3" /></li>
                                    <li><img src="{% static "img/cardPSimonBolivar.webp" %} "alt="Imagen 4" /></li>
                                </ul>
                            </div>
                                    
                            <div class="circlePicture">
                                <figure class="userCirclePicture">
                                    <img class="avatarImg" src="{% static "img/imgFotoPerfil.webp" %} "alt="Imagen de Colombia" />
                                </figure>
                            </div>
            
                            <div class="contenedor-texto">
                                <h3>
                                    Cony Quiroga
                                </h3>
                                <a href="html/crearCuenta.html" class="btn-base" type="button" >
                                    <span class="material-symbols-rounded">collections_bookmark</span>
                                    Ver álbum
                                </a>
                            </div>
                        </div>
                        <div class="container-album">
                            <div class="slider-frame">
                                <ul>
                                    <li><img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen 1" /></li>
                                    <li><img src="{% static "img/cardPlazaBolivar.webp" %} "alt="Imagen 2" /></li>
                                    <li><img src="{% static "img/cardMNacionalC.webp" %} "alt="Imagen 3" /></li>
                                    <li><img src="{% static "img/cardPSimonBolivar.webp" %} "alt="Imagen 4" /></li>
                                </ul>
                            </div>
                                    
                            <div class="circlePicture">
                                <figure class="userCirclePicture">
                                    <img class="avatarImg" src="{% static "img/imgFotoPerfil.webp" %} "alt="Imagen de Colombia" />
                                </figure>
                            </div>
            
                            <div class="contenedor-texto">
                                <h3>
                                    Cony Quiroga
                                </h3>
                                <a href="html/crearCuenta.html" class="btn-base" type="button" >
                                    <span class="material-symbols-rounded">collections_bookmark</span>
                                    Ver álbum
                                </a>
                            </div>
                        </div>
                        <div class="container-album">
                            <div class="slider-frame">
                                <ul>
                                    <li><img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen 1" /></li>
                                    <li><img src="{% static "img/cardPlazaBolivar.webp" %} "alt="Imagen 2" /></li>
                                    <li><img src="{% static "img/cardMNacionalC.webp" %} "alt="Imagen 3" /></li>
                                    <li><img src="{% static "img/cardPSimonBolivar.webp" %} "alt="Imagen 4" /></li>
                                </ul>
                            </div>
                                    
                            <div class="circlePicture">
                                <figure class="userCirclePicture">
                                    <img class="avatarImg" src="{% static "img/imgFotoPerfil.webp" %} "alt="Imagen de Colombia" />
                                </figure>
                            </div>
            
                            <div class="contenedor-texto">
                                <h3>
                                    Cony Quiroga
                                </h3>
                                <a href="html/crearCuenta.html" class="btn-base" type="button" >
                                    <span class="material-symbols-rounded">collections_bookmark</span>
                                    Ver álbum
                                </a>
                            </div>
                        </div>
                        <div class="container-album">
                            <div class="slider-frame">
                                <ul>
                                    <li><img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen 1" /></li>
                                    <li><img src="{% static "img/cardPlazaBolivar.webp" %} "alt="Imagen 2" /></li>
                                    <li><img src="{% static "img/cardMNacionalC.webp" %} "alt="Imagen 3" /></li>
                                    <li><img src="{% static "img/cardPSimonBolivar.webp" %} "alt="Imagen 4" /></li>
                                </ul>
                            </div>
                                    
                            <div class="circlePicture">
                                <figure class="userCirclePicture">
                                    <img class="avatarImg" src="{% static "img/imgFotoPerfil.webp" %} "alt="Imagen de Colombia" />
                                </figure>
                            </div>
            
                            <div class="contenedor-texto">
                                <h3>
                                    Cony Quiroga
                                </h3>
                                <a href="html/crearCuenta.html" class="btn-base" type="button" >
                                    <span class="material-symbols-rounded">collections_bookmark</span>
                                    Ver álbum
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="tab-panel" id="content2">
                    <div class="container-reto">
                        <div class="container-img">
                            <img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen del lugar del reto" />
                        </div>

                        <div class="contenido-reto">
                            <h1>Los Colores de la Naturaleza</h1>
                            <div class="texto-reto">
                                <p>
                                    Explora el Jardín Botánico y captura fotos de flores, plantas o detalles naturales que representen los 7 colores del arcoíris. 
                                    <br>
                                    Busca elementos en el entorno que muestren claramente cada uno de estos colores. 
                                    <br>
                                    <span c>¡Recuerda! </span>Cada color debe aparecer en una foto diferente, destacando su belleza de forma única.
                                </p>
                                <a class="btn-base " href="#detalle_reto">Aceptar el reto</a>
                                    <!-- modal aceptar reto -->
                                    <article class="ligth-box" id="detalle_reto">
                                        <div class="condiciones-reto">
                                            <h2>Los Colores de la Naturaleza</h2>
                                            <img src="{% static "img/reto-jardinBotanico.webp" %} "alt="Imagen del reto" />
                                            <p>¡Has aceptado nuestro reto! Ten en cuenta las siguientes condiciones para que tu participación sea válida:</p>
                                            
                                            <h2> Condiciones del reto:</h2> 
                                            
                                            <p>
                                                - Los 7 colores del arcoíris deben aparecer en una única foto.
                                                <br>
                                                - Solo se permiten fotos tomadas dentro del Jardín Botánico.
                                                <br>
                                                - Asegúrate de incluir elementos naturales como flores, hojas, frutos o paisajes.
                                            </p>
                                            <h3>Si estás listo para aceptar el reto, presiona el ícono de la cámara para subir tu foto.</h3>
                                            <div class="button-container">
                                             
                                                <button class="btn-redondo">
                                                    <span class="material-symbols-rounded">add_a_photo</span>
                                                </button>   
                                             
                                            </div>
                                            <a href="#" class="close">X</a>
                                        </div>    
                                    </article>
                            </div>
                        </div>
                    </div>

                    <div class="container-reto">
                        <div class="container-img">
                            <img src="{% static "img/cardJardinBotanico.webp" %} "alt="Imagen del lugar del reto" />
                        </div>

                        <div class="contenido-reto">
                            <h1>Los Colores de la Naturaleza</h1>
                            <div class="texto-reto">
                                <p>
                                    Explora el Jardín Botánico y captura fotos de flores, plantas o detalles naturales que representen los 7 colores del arcoíris. 
                                    <br>
                                    Busca elementos en el entorno que muestren claramente cada uno de estos colores. 
                                    <br>
                                    <span c>¡Recuerda! </span>Cada color debe aparecer en una foto diferente, destacando su belleza de forma única.
                                </p>
                                <a class="btn-base " href="#detalle_reto">Aceptar el reto</a>
                                    <!-- modal aceptar reto -->
                                    <article class="ligth-box" id="detalle_reto">
                                        <div class="condiciones-reto">
                                            <h2>Los Colores de la Naturaleza</h2>
                                            <img src="{% static "img/reto-jardinBotanico.webp" %} "alt="Imagen del reto" />
                                            <p>¡Has aceptado nuestro reto! Ten en cuenta las siguientes condiciones para que tu participación sea válida:
                                                <br>
                                                <span>Condiciones del reto:</span> 
                                                <br>
                                                - Los 7 colores del arcoíris deben aparecer en una única foto.
                                                <br>
                                                - Solo se permiten fotos tomadas dentro del Jardín Botánico.
                                                <br>
                                                - Asegúrate de incluir elementos naturales como flores, hojas, frutos o paisajes.
                                            </p>
                                            <h3>Si estás listo para aceptar el reto, presiona el ícono de la cámara para subir tu foto.</h3>
                                            <div class="button-container">
                                                <a class="dot-style" href="#">
                                                    <button class="btn-redondo">
                                                    <span class="material-symbols-rounded">add_a_photo</span>
                                                    </button>
                                                </a>
                                            </div>
                                            <a href="#" class="close">X</a>
                                        </div>    
                                    </article>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        </main>
    {% else %}
        <main class="contenedorprincipal">
            <section id='pantalla-dividida'>
            <div class="ladoizquierdo">
                <div class="cuadradoi">
                <h1 class="titulo">¡Hola!</h1>
                <h2 class="texto">Para acceder al área de álbum, primero debes iniciar sesión.</h2>
                <a href="{% url "iniciar_sesion" %}" class="btn-base">
                    Iniciar sesión
                </a>
                <h2 class="texto">Si aún no tienes una cuenta, puedes crear una haciendo clic en el siguiente botón:</h2>
                <a href="{% url "registrarse" %}" class="btn-base">
                    Regístrate
                </a>
                </div>
            </div>
            <div class="ladoderecho">
                <div class="cuadradod">
                <img class="img-section" src="{% static "img/collageAlbum.webp" %}" alt="" />
                </div>
            </div>
            </section>
        </main>
    {% endif %}
{% endblock main_content %}
