{% extends "index.html" %} 
{% block title %}
Cambiar contraseña | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/login.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
    <article class="ligth-box" id="olvidaste_contra">
        <div class="formulario-modal2">
            <h2>¿Olvidaste tu contraseña?</h2>
            <p>Ingresa tu correo electrónico para enviarte el enlace de restablecimiento de contraseña.</p>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="username2">
                    <input type="email" name="email" required>
                    <label>Correo</label>
                </div>
                    <div class="button-container">
                    <button class="btn-base" type="submit">
                        Restablecer
                    </button>
                </div>
            </form>
        </div>
        <a href="{% url "iniciar_sesion" %}" class="close">X</a>
    </article>
</main>
{% endblock main_content %}