{% extends "index.html" %} 
{% block title %}
Recuperación cuenta | JetBooms
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/cambioContrasenia.css" %}" /> 
{% endblock styles_apply %}

{% block main_content %}
    {% if validlink %}

        <main class="main">
            <div class="container-titulo">
                <p>
                    Has solicitado cambiar tu contraseña. Para completar el proceso, por favor,
                    rellena el siguiente formulario.
                </p>
            </div>

            <div class="formulario">
                <h1>Cambio de Contraseña</h1>
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="username">
                        <input type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1" required />
                        <label>Nueva Contraseña*</label>
                    </div>
                    {% if form.new_password1.errors %}
                        {{ form.new_password1.errors }}
                    {% endif %}
                    <div class="username">
                        <input type="password" name="new_password2" required />
                        <label>Confirma la nueva Contraseña*</label>
                    </div>
                    {% if form.new_password2.errors %}
                        {{ form.new_password2.errors }}
                    {% endif %}
                    <div class="button-container">
                        <a href="{% url 'iniciar_sesion' %}" class="btn-base">
                            <input type="submit" value="Guardar Contraseña"/>
                        </a>
                        <a href="{% url 'index' %}" class="btn-base">Cancelar</a>
                    </div>
                </form>
            </div>
        </main>
    {% else %}
        <main class="main">
            <div class="container-titulo">
                <p>
                    El enlace de restablecimiento de contraseña no es válido o ha caducado.
                    Por favor, solicita un nuevo enlace.
                </p>
            </div>
        </main>
    
    {% endif %}
{% endblock main_content %}