{% extends "index.html" %} 
{% block title %}
Cambiar contraseña | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/password_reset.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
    <div class="texto-password">
        <h1>Restablecimiento de contraseña exitoso</h1>
        <p>Tu contraseña ha sido restablecida exitosamente.
            <br>
            Ahora puedes iniciar sesión con tu nueva contraseña.
        </p>
    </div>
    <a href="{% url 'index' %}" class="btn-base">Volver al inicio</a>
</main>    
{% endblock main_content %}