{% extends "index.html" %} 
{% block title %}
Recuperación cuenta | JetBooms
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/cambioContrasenia.css" %}" /> 
{% endblock styles_apply %}

{% block main_content %}
    {% if validlink %}

        <main class="main">
            <div class="container-titulo">
                <p>
                    Has solicitado cambiar tu contraseña. Para completar el proceso, por favor,
                    rellena el siguiente formulario.
                </p>
            </div>

            <div class="formulario">
                <h1>Cambio de Contraseña</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="username">
                        {{ form.password1.errors }}
                        <input type="password" name="password1" required />
                        <label>Nueva Contraseña*</label>
                    </div>
                    <div class="username">
                        {{ form.password2.errors }}
                        <input type="password" name="password2" required />
                        <label>Confirma la nueva Contraseña*</label>
                    </div>
                    <div class="button-container">
                        <input class="btn-base" type="submit" value="Guardar Contraseña"/>
                    </div>
                </form>
            </div>
        </main>
    {% else %}
        <main class="main">
            <div class="container-titulo">
                <p>
                    El enlace de restablecimiento de contraseña no es válido o ha caducado.
                    Por favor, solicita un nuevo enlace.
                </p>
            </div>
        </main>
    
    {% endif %}
{% endblock main_content %}