{% load i18n %}

{% load static %}

<img src="{% static 'img/jbLogo_N.webp' %}" alt="JetBoom Logo">

{% autoescape off %}
Hola {{ user.get_username }},

Recibes este correo electrónico porque has solicitado restablecer tu contraseña en nuestro sitio web.

Haz clic en el siguiente enlace para restablecer tu contraseña:

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer contraseña</a>

Si no has solicitado restablecer tu contraseña, puedes ignorar este correo electrónico.

Gracias,
JetBoom
{% endautoescape %}