{% extends "index.html" %} 
{% block title %}
Pago | JetBooms
{% endblock title%}

{% block styles_apply %} 
{% load static %}
{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static "css/pagoLogueado.css" %}" /> 
{% else %}
    <link rel="stylesheet" href="{% static "css/pagoSinLoguear.css" %}" /> 
{% endif %}
{% endblock styles_apply %}
 
{% block main_content %}
    {% if user.is_authenticated %}
      <main class="main">
        <div class="formulario-pago">
          <div class="section-pago">
              <h1>Pago</h1>
              <div class="container-usuario">
                <label class="usuario">Sesion iniciada como:</label>
                <input type="email"  class="input-correo-usuario" name="email" value="{{user.email}}" disabled>
              </div>
          </div>
          
          <hr>
          
          <div class="detalle-pago">
            <h1 class="title">Información de la cuenta</h1>
            <div class="info-personal">
              <div class="container">
                <label class="usuario">Nombre:</label>
                <input type="text"  class="input-usuario" name="nombre" value="{{user.nombre}}" disabled>
              </div>

              <div class="container">
                <label class="usuario">Apellido:</label>
                <input type="text"  class="input-usuario" name="nombre" value="{{user.apellido}}" disabled>
              </div>
            </div>
          </div>
          
          <hr>
          
          <!-- Datos solicitados al usuario -->
          <form class="form-datos-solicitados">
            <!--Calendario-->
            <div class="calendario">
              <h2>Elige la fecha de tu visita</h2>
                <input type="date" id="fecha-visita" placeholder="AAAA-MM-DD" min="2024-09-17" max="2025-03-17" name="fecha-visita">
              </div>
          
              <!--Cantidad personas-->
              <div class="cantidad-personas">
                <h2>¿Cuántas personas van?</h2>
                <div class="counter-container">
                  <button class="counter-btn" id="decrement">-</button>
                  <input type="text" class="counter-input" id="counter" value="1" readonly>
                  <button class="counter-btn" id="increment">+</button>
                </div>
                {% comment %} <script>
                  document.addEventListener('DOMContentLoaded', () => {
                    const incrementButton = document.getElementById('increment');
                    const decrementButton = document.getElementById('decrement');
                    const counterInput = document.getElementById('counter');
                    let count = parseInt(counterInput.value, 10); // Usa el valor inicial del input
          
                    incrementButton.addEventListener('click', () => {
                      if (count < 5) { // Establece el límite máximo
                        count++;
                        counterInput.value = count;
                      }
                    });
          
                    decrementButton.addEventListener('click', () => {
                      if (count > 1) { // Establece el límite mínimo
                        count--;
                        counterInput.value = count;
                      }
                    });
                  });
                </script> {% endcomment %}
              </div>
            </form>
          
          <hr>
          
          <section class="dos-columnas">
            <div class="columna izquierda">
              <div class="detalle-item">
                <p class="descripcion">Descripción del pago:</p>
                <div class="container-pago">
                  <label for="lugar" class="info">Lugar turistico</label>
                  <input disabled type="text" id="lugar" class="input-pago" placeholder=" ">
                </div>
                <div class="container-pago">
                  <label for="guia" class="info">Valor del servicio</label>
                  <input disabled type="text" class="input-pago" placeholder=" ">
                </div>
                <div class="container-pago">
                  <label for="guia" class="info">Valor añadido por persona</label>
                  <input disabled type="text" class="input-pago" placeholder=" ">
                </div>
                <div class="container-pago ">
                  <label for="total" class="total-mostrar">TOTAL:</label>
                  <input disabled type="text" id="total" class="input-pago" placeholder=" ">
                </div>
              </div>
            </div>
          
            <div class="columna derecha">
              <a class=btn-base href="{% url "pasarela_pago" %}">COMPRA AHORA!!</a>
            </div>
          </section>
      </main>
    {% else %}
      <main class="contenedorprincipal">
          <section id='pantalla-dividida'>
              <div class="ladoizquierdo">
                  <div class="cuadradoi">
                      <h1 class="titulo">¡Hola!</h1>
                      <h2 class="texto">Para proceder con la compra del servicio, primero debes iniciar sesión:</h2>
                      <a href="{% url "iniciar_sesion" %}" class="btn-base">
                          Iniciar sesión
                      </a>
                      <h2 class="texto">Si aún no tienes una cuenta, puedes crear una haciendo clic en el siguiente botón:</h2>
                      <a href="{% url "registrarse" %}" class="btn-base">
                          Regístrate
                      </a>
                      <h2 class="texto">Si deseas explorar nuevamente los lugares turísticos que ofrecemos, puedes hacerlo haciendo clic en el siguiente botón:</h2>
                      <a href="{% url "lugares_turisticos" %}" class="btn-base">
                          Lugares turísticos
                      </a>
                  </div>
              </div>
              <div class="ladoderecho">
                  <div class="cuadradod">
                      <img class="img-section" src="{% static "img/collageAlbum.webp" %} " alt="" />
                  </div>
              </div>
          </section>
      </main>
    {% endif %}
{% endblock main_content %}
