.imgfotoperfil {
  position: relative;
  /* Necesario para posicionar elementos internos */
  width: 100%;
  height: 650px;
  /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.imgfotoperfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

.imgfotoperfil .material-symbols-outlined {
  font-size: 1.5rem;
  color: var(--gris);
  z-index: 30;
}

.fotodeperfil {
  position: absolute;
  /* Posiciona el contenedor de la imagen de perfil en relación a su contenedor padre */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centra la imagen de perfil */
  width: 250px;
  /* Ajusta el tamaño de la imagen de perfil según lo necesites */
  height: 250px;
  overflow: hidden;
  border: 5px solid #fff;
  /* Añade un borde blanco alrededor de la imagen de perfil, opcional */
  text-align: center;
  /* Centra el texto */
}

.fotodeperfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Asegura que la imagen se ajuste al contenedor sin distorsión */
}

.fotodeperfil h2 {
  color: var(--oscuro);
  z-index: 10;
  /* Asegura que el texto esté por encima de otros elementos */
}

.profile-text {
  color: var(--gris);
  /* Color del texto */
  font-size: 20px;
  /* Tamaño del texto */
  position: absolute;
  /* Posiciona el texto en relación al contenedor .fotodeperfil */
  bottom: -40px;
  /* Ajusta este valor para mover el texto hacia arriba o abajo */
  left: 50%;
  transform: translateX(-50%);
  /* Centra el texto horizontalmente */
}

.nombreperfil {
  position: absolute;
  /* Posiciona el texto en relación al contenedor .imgfotoperfil */
  top: 445px;
  /* Ajusta la posición desde arriba */
  left: 50%;
  transform: translateX(-50%);
  /* Centra el texto horizontalmente */
  font-size: 40px;
  /* Tamaño del texto */
  color: var(--gris);
  /* Color del texto */
  font-weight: bold;
  /* Hace que el texto sea negrita */
  z-index: 20;
  /* Asegura que el texto esté por encima de ambas imágenes */
  background-color: rgba(0, 0, 0, .7);
  border-radius: 10%;
}

.nacionalidadperfil {
  position: absolute;
  /* Posiciona el texto en relación al contenedor .imgfotoperfil */
  top: 500px;
  /* Ajusta la posición desde arriba */
  left: 50%;
  transform: translateX(-50%);
  /* Centra el texto horizontalmente */
  font-size: 25px;
  /* Tamaño del texto */
  color: var(--gris);
  /* Color del texto */
  font-weight: bold;
  /* Hace que el texto sea negrita */
  z-index: 20;
  /* Asegura que el texto esté por encima de ambas imágenes */
  background-color: rgba(0, 0, 0, .7);
  border-radius: 10%;
}

.contenedorcuadradorojo {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 1vh;
  /* O la altura que necesites para el contenedor */
}

.cuadradorojo {
  width: 10rem;
  height: 4rem;
  background-color: var(--rojo);
  border-radius: var(--border-radius);
  z-index: 20;

}

.cuadradorojo h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
  /* Ajusta este valor para controlar el espacio inferior */
}

.cuadradorojo p {
  font-size: 1rem;
  margin-top: -0.5rem;
  /* Remueve el espacio superior */
}

/*////////////////////////////////////////////////////////////*/


.botones-seccion {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* Espacio entre los botones */
  margin: 2rem 0;
  /* Espacio alrededor de la sección */
}

.boton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: var(--gris);
  background-color: var(--rojo);
}

.redondo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* Hace que el botón sea completamente redondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-rounded {
  font-size: 6rem;
  /* Ajusta este valor según el tamaño que desees */
  color: var(--gris);
  /* Puedes cambiar el color si lo deseas */
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 70%;
  margin: auto;
  grid-gap: 15px;
  padding: 40px 0;
  overflow: hidden;
}

.galeria>a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
}

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.ligth-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.ligth-box img {
  width: 75vw;
  max-height: 70vh;
}

.ligth-box:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: var(--amarillo);
  color: var(--oscuro);
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background: transparent;
  color: white;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

.next .material-symbols-outlined {
  font-size: 3rem;
}

@media screen and (max-width: 400px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .galeria img {
    height: 100px;
  }

  .close {
    top: 20px;
    right: 20px;
  }
}