.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*diseño del titulo*/
.container-titulo {
  color: var(--font-color-negro);
  margin: 1% 0 2%;
}

.container-titulo h1 {
  /*tipo y tamaño de la letra del titulo*/
  font-family: "titulos-especiales";
  font-size: 45px;
}

.container-titulo h2 {
  /*tipo y tamaño de la letra del titulo 2*/
  font-family: "titulos";
  font-size: 35px;
}

.formulario {
  /*diseño de la caja con el contenido de iniciar sesion*/
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--rojo);
  border-radius: var(--border-radius);
}

.formulario h1 {
  /*tipo y tamaño de la letra del titulo de la caja*/
  margin: 8% 0 5%;
  font-family: "titulos-especiales";
  font-size: 2.8rem;
  color: var(--amarillo);
}

.formulario form {
  /*forma y espacio para el form de la caja*/
  width: 30rem;
  padding: 0 5%;
  box-sizing: border-box;
}

form .username {
  /*diseño de los espacios del form de la caja*/
  position: relative;
  background-color: var(--gris);
  border-radius: var(--border-radius);
  margin: 3% 0;
  padding: 0 2%;
  width: 100%;
}

.username input {
  /*Diseño y tamaño del espacio para correo y contraseña*/
  width: 100%;
  padding: 4%;
  border: none;
  background: none;
  outline: none;
}

.username label {
  /*Diseño y tamaño de la letra del espacio para correo y contraseña*/
  position: absolute;
  top: 70%;
  left: 4%;
  color: var(--negro);
  font-family: "textos";
  transform: translateY(-75%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.username span::before {
  /*Animacion de los espacios para correo y contraseña*/
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--negro);
  transition: .5s;
}

.username input:focus~label,
.username input:valid~label {
  /*Animacion de los espacios para correo y contraseña despues de agregar el contenido*/
  top: -5px;
  color: var(--gris);
  font-family: "textos";
  transition: top 0.3s ease, color 0.3s ease;
}

.recordar-a {
  /*Diseño de la letra del ¿Olvidaste tu contraseña?*/
  font-size: 1rem;
  color: var(--gris);
  text-decoration: none;
}

.button-container {
  /*contenedor para el boton*/
  margin: 0% 0 5%;
  width: 70%;
}

.btn-formulario {
  /*Diseño del boton de continuar*/
  margin-top: 0.5%;
  padding: 2% 20%;
}

.registrarse {
  /*Diseño del espacio de registrase y iniciar sesion*/
  padding: 1% 0 8%;
  text-align: center;
}

.registrarse a {
  /*Diseño de la letra del registrase y iniciar sesion*/
  font-size: 1rem;
  color: var(--gris);
  text-decoration: none;
}

.registrarse a:hover {
  /*Linia inferior cuando el mouse pasa sobre el texto del registrase y iniciar sesion*/
  text-decoration: underline;
}