.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
  
/*Informacion Pago*/
.section-pago h1{
  font-size: 2.5em;
  font-weight: bolder;
  padding-bottom: 10vh;
}
.container-usuario{
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  margin-left: 4%;
}
.usuario{
  display:flex;
  justify-content: left;
}
.input-correo-usuario{
  width: 35%;
  padding: 0.8%;
  border: 1px solid var(--gris);
  border-radius: 5px;
  background-color: var(--blanco);
  margin-top: 2%;
  margin-bottom: 5vh;
}
hr {
  height: 2px;
  width: 90%;
  background-color: black;
  margin: auto;
}

/*Detalle pago*/
.detalle-pago{
  width: 100%;
  margin-left: 4%;
}
.info-personal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5vh;
  max-width: 80%;
}
.title{
  font-size: 1.3em;
  font-weight: 2.5em;
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  justify-content: left;
}
.container {
  position: relative;
  width: 80%;
}
.input {
  width: 60%;
  padding: 3%;
  border: 1px solid var(--gris);
  border-radius: 5px;
  background-color: var(--blanco);
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.input:focus {
  border-color: var(--rojo);
  outline: none;
}
.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #cfcfcf;
  pointer-events: none;
  transition: 0.3s ease;
  background-color: var(--blanco);
  padding: 0 5px;
  border-radius: 15%;
}
.input:focus + .label,
.input:not(:placeholder-shown) ~ .label {
  top: -2%;
  left: 1%;
  font-size: 12px;
  color: var(--rojo);
}
.requerido {
  color: var(--rojo);
}

.form{
  margin-left: 4%;
}
/*Calendario*/
.calendario h2,
.cantidad-personas h2{
  display: flex;
  align-items: left;
  margin-top: 4.5vh;
  font-size: 1.3em;
}
.calendario input[type="date"] {
  margin-top: 3vh;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

/*Cantidad personas*/
/* Sección del contador */
.counter-container {
  display: flex;
  justify-content: left; /* Centra el contador en su contenedor */
  margin-top: 4vh;
}
.counter-btn {
  border-radius: 50%;
  background-color: var(--rojo); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Elimina el borde predeterminado */
  width: 50px; /* Ancho del botón, igual al alto para que sea cuadrado */
  height: 50px; /* Altura del botón */
  font-size: 1.5rem; /* Tamaño del texto dentro del botón */
  margin: 0; /* Sin margen entre los botones */
  display: flex; /* Utiliza Flexbox para centrar el contenido dentro del botón */
  align-items: center; /* Centra verticalmente el texto dentro del botón */
  justify-content: center; /* Centra horizontalmente el texto dentro del botón */
  cursor: pointer;
}
.counter-input {
  width: 60px; /* Ancho del campo de entrada */
  height: 50px; /* Altura del campo de entrada, igual a los botones */
  text-align: center; /* Centra el texto dentro del campo de entrada */
  font-size: 1.5rem; /* Tamaño del texto dentro del campo de entrada */
  border: 1px solid #ccc; /* Borde alrededor del campo de entrada */
  border-radius: 5px; /* Radio de borde para redondear las esquinas */
  margin: 0 10px; /* Espacio entre el campo de entrada y los botones */
  margin-bottom: 5vh;
}

.btn-base {
  width: 12rem; /* Tamaño del botón, ajusta según sea necesario */
  height: 12rem; /* Debe ser igual al ancho para mantener la forma circular */
  border-radius: 50%; /* Hace que el botón sea redondo */
  background-color: var(--rojo); /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  display: flex; /* Utiliza Flexbox para centrar el contenido dentro del botón */
  align-items: center; /* Centra verticalmente el texto */
  font-size: 2rem; /* Tamaño del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  outline: none; /* Elimina el contorno del botón cuando está enfocado */
}
.btn-base:hover {
  background: var(--amarillo);
  outline: 2px solid var(--rojo);
  color: var(--negro);
  transition: all 0.5s ease-in-out;
}

/*Columnas*/
.dos-columnas {
  display: flex; /* Utiliza Flexbox para alinear los elementos en fila */
  justify-content: space-between; /* Distribuye el espacio entre las columnas */
  gap: 20px; /* Espacio entre las dos columnas */
  margin-left: 4%;
}
.columna {
  flex: 1; /* Cada columna ocupa el mismo espacio disponible */
}
.derecha {
  /* Estilo para la columna derecha */
  display: flex; /* Alinea el contenido del botón en el centro de la columna */
  align-items: center; /* Centra verticalmente el botón */
  justify-content: center; /* Centra horizontalmente el botón */
  padding-top: 6vh;
}

/*Seccion del costo total*/
.descripcion{
  padding-bottom:2vh;
  font-size: 1.3em;
  padding-top: 4vh;
}
.detalle-item {
  width: 95%;
  display:flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}
.container-pago{
display: flex;
justify-content: row;
margin-top: 2vh;
}
.container-pago-total{
  display: flex;
  justify-content: row;
  margin-top: 6vh;
}
.lugar{
display: flex;
margin-right: 2em;
width: 100%;
font-size: 1.1em;
}
.guia{
  display: flex;
  margin-right: 6.5em;
  width: 100%;
  font-size: 1.1em;
}
.total{
  display: flex;
  margin-right: 6em;
  width: 20%;
  font-size: 1.3em;
  font-weight: bold;
}
.input-pago-lugar{
  width: 77%;
  padding: 3%;
  border: 1px solid var(--gris);
  border-radius: 5px;
  background-color: var(--blanco);
}
.input-pago-guia{
  width: 100%;
  padding: 3.3%;
  padding-right: 16%;
  border: 1px solid var(--gris);
  border-radius: 5px;
  background-color: var(--blanco);
}
.input-pago-total{
  width: 35%;
  padding: 3%;
  border: 1px solid var(--gris);
  border-radius: 5px;
  background-color: var(--blanco);
}