.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Título */
.container-titulo {
    color: var(--font-color-negro);
    margin: 1% 0;
    text-align: center; 
}

.container-titulo h2 {
    font-family: "titulos";
    font-size: 3rem;
}

/* --------------------------- botones --------------------------- */
.button-group {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
  
.button-option {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--font-color-oscuro);
    padding: 2%;
    margin-bottom: 5%;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.button-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 20rem;
    height: 12rem;
    color: var(--font-color-oscuro);
    transition: all 0.3s ease;  
}
  
.button-content img {
    width: 100%;
    height: auto;
    max-height: 7rem;
    object-fit: cover;
    margin-bottom: 1.5%; 
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
}
  
.button-content span {
    font-size: 1.5rem;
    margin-top: 3.5%;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

/* Estilo cuando el radio está marcado */
.radio-option:checked + .button-content {
    background-color: var(--amarillo); 
    border: 2px solid var(--amarillo);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
  
.radio-option:checked + .button-content img {
    max-height: 9rem; 
}
  
.radio-option:checked + .button-content span {
    font-size: 1.8rem;
    color: var(--rojo); 
}

/* ------------------- contenedor del formulario ---------------- */
.formulario {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--rojo);
    border-radius: var(--border-radius);
    padding: 2%; 
}

.formulario h1 {
    margin: 6% 2% 5%;
    font-family: "titulos-especiales";
    font-size: 2.5rem;
    color: var(--amarillo);
    text-align: center; 
}

.formulario form {
    width: 30rem;
    padding: 0 5%;
    box-sizing: border-box;
}

form .username {
    position: relative;
    background-color: var(--gris);
    border-radius: var(--border-radius);
    margin: 8% 0;
    padding: 0 2%;
    width: 100%;
}

.username input {
    width: 100%;
    padding: 4%;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 70%;
    left: 4%;
    color: var(--negro);
    font-family: "textos";
    transform: translateY(-75%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.button-container {
    margin: 0% 0 6%;
}

.btn-formulario {
    padding: 2% 20%;
    display: block;
    margin: 0 auto; 
}




