.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Contenedor central */
.container {
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    margin: 5% auto;
    padding: 3%;
    background-color: var(--amarillo);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado principal centrado */
h1 {
    font-size: 2.2rem;
    font-family: "titulos-especiales";
    color: var(--rojo);
    text-align: center; 
    width: 100%; 
    margin-bottom: 2%;
}

/* Sección de imagen centrada */
.img-section {
    width: 65%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; 
    align-self: center; 
}

/* Subtítulos */
h2 {
    font-size: 1.8rem;
    text-align: left; 
    margin: 2% 0;
    color: var(--oscuro);
    font-weight: 500;
}

/* Párrafos con texto alineado a la izquierda */
p {
    line-height: 1.8;
    font-size: 1.1rem;
    text-align: left; 
}

/* Estilo para listas */
.list {
    margin: 3% 3% 0;
    text-align: left;
    list-style-type: disc; 
}

.list li {
    margin-bottom: 2%;
    font-size: 1rem;
    color: var(--oscuro);
}

.list .material-symbols-rounded{
    font-size: 1.1rem;
}

/* Información de contacto */
.contact-info li {
    list-style-type: none;
    font-weight: 500;
    margin-bottom: 2%;
    text-align: left; 
}

/* Estilo responsivo para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        padding: 5%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, .list li {
        font-size: 1rem;
    }

    .img-section {
        width: 100%; 
    }
}
