{% extends "perfil/perfil.html" %} 

{% block other_styles %} 
    {% load static %}
    <link href="{% static "css/perfilReservasSinContenido.css" %}" rel="stylesheet" /> 
{% endblock other_styles %}


{% block perfil_content %}
<section class="reservas-login">
    <div class="cero-reservas">
        <span class="material-symbols-rounded">search</span>
    </div>
    <div class="crear-reserva">
        <p>¡No tienes reservas!</p>
        <a href="{% url "lugares_turisticos" %}" class="btn-base">Reserva tu plan turistico</a>
    </div>
</section>
{% endblock perfil_content %}