{% extends "index.html" %} 
{% block title %}
Perfil | JetBooms
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
    <link rel="stylesheet" href="{% static "css/perfilGaleria.css" %}" /> 
  {% block other_styles %}
  {% endblock other_styles %}
{% endblock styles_apply %} 

{% block main_content %}
    <main class="main">
        <div class="imgfotoperfil">
            {% if user.albumfoto.foto_portada and user.albumfoto.foto_portada.url %}
                <img src="{{ user.albumfoto.foto_portada.url }}?{{ user.albumfoto.foto_portada.last_modified|date:'U' }}" alt="Foto de Portada" />
            {% else %}
                <img class="portada" src="{% static "img/portada-bogota.webp" %}" alt="Imagen de portada por defecto" />
            {% endif %}
            <div class="fotodeportada">
                <form method="post" enctype="multipart/form-data" action="{% url "imagen_portada" %}">
                    {% csrf_token %}
                    <div class="seleccion_foto seleccion_foto_portada">
                        <span class="material-symbols-rounded">add_a_photo</span>
                        <input type="hidden" name="form_type" value="portada">
                        <input type="file" name="foto_portada" id="id_foto_portada" accept="image/png, image/jpeg" style="display: none;">
                    </div>
                </form>
            </div>
            <div class="fotodeperfil">
                <form method="post" enctype="multipart/form-data" action="{% url "imagen_perfil" %}">
                    {% csrf_token %}
                    <div class="seleccion_foto seleccion_foto_perfil">
                        <span class="material-symbols-rounded">add_a_photo</span>
                        <input type="hidden" name="form_type" value="perfil">
                        <input type="file" name="foto_perfil" id="id_foto_perfil" accept="image/png, image/jpeg" style="display: none;">
                    </div>
                </form>
                {% if user.foto_perfil and user.foto_perfil.url %}
                    <img src="{{ user.foto_perfil.url }}?{{ user.foto_perfil.last_modified|date:'U' }}" alt="Foto de Perfil" />
                {% else %}
                    <img src="{% static 'img/default_perfil.webp' %}" alt="Imagen por defecto de Perfil" />
                {% endif %}
            </div>
            <div class="nombreperfil">{{ user.nombre }} {{ user.apellido }} 
                <a href="{% url "actualizar_datos" %}">
                    <span class="material-symbols-rounded">person_edit</span>
                </a>
            </div>
        </div>

        <div class="contenedorcuadradorojo">
            <div class="cuadradorojo">
                <h1>{{ imagenes|length }}</h1>
                <p>Publicaciones</p>
            </div>
        </div>

        <section class="botones-seccion">
            <a class="btn-size btn-base" href="{% url "perfil" %}">
                Álbum
            </a>
            <a class="btn-size btn-base" href="{% url "puntos" %}">
                Puntos
            </a>
            <div class="btn-center">
                <form method="post" enctype="multipart/form-data" action="{% url "imagen_galeria" %}">
                    {% csrf_token %}
                    <div class="btn-redondo seleccion_foto_galeria">
                        <span class="material-symbols-rounded">add_a_photo</span>
                        <input type="hidden" name="form_type" value="galeria">
                        <input type="file" name="imagen" id="id_foto_galeria" accept="image/png, image/jpeg" style="display: none;">
                    </div>
                </form>
            </div>
            <a class="btn-size btn-base" href="{% url "reservas" %}">
                Reserva
            </a>
            <a class="btn-size btn-base" href="{% url "compras" %}">
                Compras
            </a>
        </section>

        {% block perfil_content %}
        {% if imagenes|length > 0 %}
          <section class="galeria" id="galeria">
            {% for img in imagenes %}
              <a href="#{{ img.order }}">
                <img src="{{ img.imagen.url }}" />
              </a>
            {% endfor %}
          </section>
  
          {% for img in imagenes %}
            <article class="ligth-box" id="{{ img.order }}">
              {% if not forloop.first %}
                <a href="#{{ forloop.counter|add:'-1' }}" class="next">
                  <span class="material-symbols-rounded next">arrow_back_ios</span>
                </a>
              {% endif %}
              <div class="container">
                <div class="lado-izquierdo">
                  <img src="{{ img.imagen.url }}" />
                </div>
                <div class="lado-derecho">
                  <div class="card-comentarios-user">
                    <div class="user">
                      <div class="nombre-user-admin">
                        <!-- Poner la imagen de perfil del usuario dueño de la foto -->
                        <img src="{% static 'img/cardParqueTunal.webp' %}" alt="Foto de Perfil" class="foto-perfil">
                        {{ user.nombre }} {{ user.apellido }}
                      </div>
                      <div>
                        <span class="material-symbols-rounded">delete</span>
                      </div>
                    </div>
                    <div class="descripcion">
                      <p>{{ img.descripcion }}</p>
                    </div>
                  </div>
  
                  <!-- Comentarios de otros usuarios -->
                  <div class="card-comentarios">
                    <div class="user">
                      <div class="nombre-user">
                        <!-- Poner la foto de perfil del usuario que hace el comentario -->
                        <img src="{% static 'img/cardParqueTunal.webp' %}" alt="Foto perfil" class="foto-perfil">
                       <!-- Poner el perfil del usuario que hace el comentario -->
                        Juan Olaya
                      </div>
                      <div><span class="material-symbols-rounded">more_vert</span></div>
                    </div>
                    <div class="descripcion">
                      <p>Que lindo lugar</p>
                    </div>
                  </div>
                  
                  <!--Agregar comentario-->
                  <div id="form-comentario">
                    <input id="texto-comentario" placeholder="Escribe tu comentario...">
                    <span class="material-symbols-rounded">send</span>
                  </div>  
                </div>
              </div>
              
              {% if not forloop.last %}
                <a href="#{{ forloop.counter|add:'1' }}" class="next">
                  <span class="material-symbols-rounded next">arrow_forward_ios</span>
                </a>
              {% endif %}
              <a href="#galeria" class="close">X</a>
            </article>
          {% endfor %}
  
        {% else %}
          <span class="material-symbols-rounded icon-add-picture">
            arrow_upward
          </span>
          <p class="text">Agrega fotos a tu álbum JetBoom y visualízalas aquí.
            <br>
            Aún no has agregado fotos a tu álbum.
          </p>
        {% endif %}
      {% endblock perfil_content %}
    </main>
{% endblock main_content %}