{% extends "perfil/perfil.html" %} 

{% block other_styles %} 
    {% load static %}
    <link href="{% static "/css/perfilPuntos.css" %}" rel="stylesheet" /> 
{% endblock other_styles %}

{% block perfil_content %}
<section class="puntos">
    <div class="container-puntos">
        <h1>300</h1>
        <p>PUNTOS</p>
    </div>
    <div class="descripcion-puntos">
    <p>
        ¡Prepárate para disfrutar de experiencias inolvidables con descuentos que te esperan
         en cada destino! Participa ahora y convierte tus logros en millas que te llevarán
        más lejos. ¡Tu próximo viaje está a punto de ser aún más extraordinario!
    </p>
    </div>
    <div class="tabla-puntos">
        <div class="detalle-puntos">
            <h2>Detalle</h2>
            <p class="fecha-obtenidos">Puntos Disponibles</p>
            <p class="valor-puntos">5</p>
            <p class="fecha-vencidos">Puntos Canjeados</p>
            <p class="valor-puntos">6</p>
        </div>
        <div class="modal-puntos">
            <p><a href="#modal"><span class="material-symbols-rounded">info</span></a></p>
        </div>
    </div>
</section>

<div id="modal" class="modalmask">
    <div class="modalbox resize">
        <a href="#close" title="Close" class="btn-cards">X</a>
        <h2>Puntos</h2>
        <p>2500 puntos = 50%</p>
        <p>2000 puntos = 40%</p>
        <p>1500 puntos = 30%</p>
        <p>1000 puntos = 20%</p>
        <p>500 puntos = 10%</p>
    </div>
</div>
{% endblock perfil_content %}