{% extends "perfil/perfil.html" %} 

{% block other_styles %} 
    {% load static %}
    <link href="{% static "/css/perfilCompras.css" %}" rel="stylesheet" /> 
{% endblock other_styles %}

{% block perfil_content %}
<section class="reservas">
    <div class="detalle-reserva">
        <div class="info-reserva">
            <h2>Recorrido Servicio Comprado</h2>
            <p class="info">Ubicación</p>
            <p class="info">Guía</p>
            <p class="info">Fecha y hora</p>
        </div>
        <div class="img-reserva">
            <img src="{% static "img/cardChorroQuevedo.webp" %}" />
        </div>
    </div>

    <div class="detalle-reserva">
        <div class="info-reserva">
            <h2>Recorrido Servicio Comprado</h2>
            <p class="info">Ubicación</p>
            <p class="info">Guía</p>
            <p class="info">Fecha y hora</p>
        </div>
        <div class="img-reserva">
            <img src="{% static "img/cardChorroQuevedo.webp" %}" />
        </div>
    </div>
</section>
{% endblock perfil_content %}