{% extends "perfil/perfil.html" %} 

{% block other_styles %} 
    {% load static %}
    <link href="{% static "/css/perfilSinCompras.css" %}" rel="stylesheet" />
{% endblock other_styles %}

{% block perfil_content %}
<section class="compras-login">
    <div class="cero-compras">
        <span class="material-symbols-rounded">search</span>
    </div>
    <div class="crear-compras">
        <p>¡No tienes compras!</p>
        <a href="{% url "lugares_turisticos" %}" class="btn-base">Compra tu plan turistico</a>
    </div>
</section>
{% endblock perfil_content %}