/* Estilos del cuerpo */
body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contenedorprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8.5%
}

/* Estilos para los lados izquierdo y derecho */

/* lado izquierdo */
.ladoizquierdo {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 1.5%;
}

.cuadradoi {
  width: 34rem;
  height: 35rem;
  align-content:center;
}

.titulo {
  font-family: "titulos-especiales";
  font-size: 4.5rem;
  text-align: center;
  color: var(--negro);
}

.texto {
  font-size: 1.5rem;
  color: var(--negro);
  padding: 3% 0;
}

/*Boton*/
.btn-ini-sesion {
  background: var(--rojo);
  color: var(--gris);
  border: none;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.7s ease, color 0.7s ease;
  margin-top: auto;
  align-self: center;
  outline: 0px solid transparent;
}

.btn-ini-sesion:hover {
  background: var(--amarillo);
  outline: 2px solid var(--rojo);
  color: var(--negro);
  transition: all 0.5s ease-in-out;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lado derecho */
.ladoderecho {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 1.5%;
}

.cuadradod {
  width: 38rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 9px rgba(0,0,1, 1);
  align-content:center;
}

.cuadradod .img-section {
  width: 100%;
  object-fit: contain;
  padding: 1% 1%;
}


/*Media queries para pantallas más pequeñas (móviles)*/
@media (max-width: 1200px) {
  .contenedorprincipal {
    flex-direction: column;
    margin: 8% 8.5%
  }

  .ladoizquierdo, .ladoderecho  {
    flex: none;
    width: 100%;
    height: 50%;
  }
  
  .cuadradoi {
    width: 50rem;
    height: 35rem;
  }

  .titulo {
    font-size: 7rem;
  }

  .texto {
    font-size: 2.5rem;
  }

  /*Boton*/
  .btn-ini-sesion {
    font-size: 2.2rem;
  }

  .cuadradod {
    margin: 20% 0 0 0;
    width: 100rem;
  }
}