/*Encabezado*/
.header {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 15%;
  width: clamp(170px, 15%, 294px);
}

.barNav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.barNav {
  background-color: var(--rojo);
  color: white;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

.barNav li:hover a {
  color: var(--amarillo);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.barNav li {
  position: relative;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.underline::before {
  content: "";
  display: flex;
  height: 0px;
  width: 0%;
  border: 2px solid transparent;
  position: absolute;
  bottom: 10%;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.underline:hover::before {
  content: "";
  display: flex;
  width: 100%;
  border: 2px solid var(--amarillo);
  transition: all 0.3s ease-in-out;
}

.logo {
  display: none;
  width: 110px;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-info {
  display: none;
}

.user-info .ul-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--amarillo);
  cursor: pointer;
}

.user-logged-in .getIntoSession {
  display: none;
}

.user-logged-in .user-info {
  display: flex;
}

.user-info-brief {
  display: none;
}

.info-show .user-info-brief {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--rojo);
  top: 0%;
  right: 0%;
  border-radius: var(--border-radius);
  border: 2px solid var(--amarillo);
  padding: 1.5rem 2rem;
  z-index: 2;
}

.user-deploy-info {
  display: flex;
  gap: 1rem;
}

.ul-deploy-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  white-space: nowrap;
}

.btn-user-info .material-symbols-rounded {
  font-size: 1.5rem;
}

.li-items-config-nav {
  padding: .5rem 1rem;
  cursor: pointer;
}

.li-items-config-nav:hover {
  border-radius: var(--border-radius);
  background: var(--rojo-claro);
}

.section-controlers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ul-deploy-info h3 {
  font-size: 1.8rem;
}

.icons-settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.icons-settings .btn-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0%;
  z-index: 1;
}

.btn-settings:hover {
  background: var(--rojo-claro);
}

.icons-settings img {
  z-index: -1;
  width: 80%;
  height: 80%;
}

.imgUser {
  background: repeating-linear-gradient(45deg, #cccccc, #cccccc 2px, #ffffff 2px, #ffffff 10px);
  border: 2px solid var(--amarillo);
  border-radius: var(--border-radius);
  min-width: 190px;
  height: 100%;
  color: var(--negro);
  font-weight: 800;
  text-shadow: -1px -1px 0 var(--amarillo), 1px -1px 0 var(--amarillo), -1px 1px 0 var(--amarillo),
    1px 1px 0 var(--amarillo), -1px 0 0 var(--amarillo), 1px 0 0 var(--amarillo), 0 -1px 0 var(--amarillo),
    0 1px 0 var(--amarillo);
}

.text-jb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JF";
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

/* ========================== Pie de pagina ====================================*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: max-content;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  overflow: hidden;
  text-align: start;
}

.img-footer {
  display: inline-block;
  width: 100%;
  height: auto;
}

.logo-footer {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-footer {
  width: 80%;
  top: 45%;
  bottom: 0%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.items-content-footer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gris);
  font-size: 1.5em;
}

.list-items li {
  position: relative;
  padding: 0.5rem 1rem;
}


.list-items li:hover {
  cursor: pointer;
}

.dot-style::before {
  content: "";
  display: flex;
  height: 0px;
  width: 0%;
  border: 2px solid transparent;
  position: absolute;
  top: 50%;
  transform: translate(-120%, -50%);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.dot-style:hover::before {
  content: "";
  display: flex;
  width: 10px;
  height: 10px;
  border: 2px solid var(--amarillo);
  transition: all 0.3s ease-in-out;
}

/* Media querys */
@media (max-width: 1200px) {
  .title {
    /* Esconde el texto del título */
    display: none;
  }

  .logo {
    /* Muestra el logo */
    display: block;
  }
}