{% extends "index.html" %} 
{% block title %}
    Actualizar datos | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/actualizaDatos.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
    <div class="formulario">
        <h1>Actualizar datos personales</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <label class="texto-label">Correo</label>
            <br>
                <div class="username">
                    {{ form.email.error }}
                    <input type="email" name="email" value="{{user.email}}" disabled>
                </div>  
                <div class="username">
                    <input type="text" name="nombre" required>
                    <label>Nombre*</label>
                </div>
                <div class="username2">
                    <input type="text" name="segundo_nombre" placeholder=" " />
                    <label>Segundo Nombre</label>
                </div>
                <div class="username">
                    <input type="text" name="apellido" required>
                    <label>Apellido*</label>
                </div>
                <div class="username2">
                    <input type="text"  name="segundo_apellido" placeholder=" " />
                    <label>Segundo Apellido</label>
                </div>
                {% comment %} name="fecha_nacimiento" {% endcomment %}
                
                <div class="tipoDoc-box" name="tipo_identificacion">
                    <label class="texto-label">Tipo de Documento*</label>
                    {{ form.tipo_identificacion }}
                    {{ form.errors }}
                </div>
                <div class="username">
                    <input type="text" name="numero_identificacion" required>
                    <label>Número de Identificación*</label>
                </div>

            <button class="btn-formulario" type="submit" >
                Actualizar datos
            </button>
        </form>
    </div>
</main> 

{% endblock main_content %}