{% extends "index.html" %} 
{% block title %}
    Crear Cuenta | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/crearCuenta.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
    <div class="formulario">
        <h1>Regístrate</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="container-correo">
                <div class="username">
                    {% if form.email.error %}
                        <div class="error">
                            {{ form.email.error }}
                        </div>
                    {% endif %}
                    <input type="email" name="email" required>
                    <label>Correo*</label>
                </div>
            </div>    
            <section class="text-columns">    
                <div class="username">
                    <input type="text" name="nombre" required>
                    <label>Nombre*</label>
                </div>
                <div class="username2">
                    <input type="text" name="segundo_nombre" placeholder=" " />
                    <label>Segundo Nombre</label>
                </div>
                <div class="username">
                    <input type="text" name="apellido" required>
                    <label>Apellido*</label>
                </div>
                <div class="username2">
                    <input type="text"  name="segundo_apellido" placeholder=" " />
                    <label>Segundo Apellido</label>
                </div>

                <div class="birthdate-box">
                    <label class="texto-label">Fecha de Nacimiento*</label>
                    <br>
                    <input type="date" class="calendario" placeholder="AAAA-MM-DD" min="1924-01-01" max="2006-12-31" name="fecha_nacimiento" />
                </div>
                <div class="tipoDoc-box" name="tipo_identificacion">
                    <label class="texto-label">Tipo de Documento*</label>
                    <br>
                    {{ form.tipo_identificacion }}
                    {% if form.tipo_identificacion.errors %}
                        <div class="error">
                            {{ form.tipo_identificacion.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="username">
                    <input type="text" name="numero_identificacion" required>
                    <label>Número de Identificación*</label>
                </div>

                <div class="username">
                    <input type="password" name="password1" required>
                    <label>Contraseña*</label>
                    {% if form.password1.errors %}
                        <div class="error">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="username">
                    <input type="password" name="password2" required>
                    <label>Validar Contraseña*</label>
                    {% if form.password2.errors %}
                        <div class="error">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                </div>   
            </section>
            <div class="terms-container">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms" class="custom-checkbox">
                  Acepto los &nbsp; <a href="{% url "terminos" %}" target="_blank">términos y condiciones</a>
                </label>
              </div>
            <button class="btn-formulario" type="submit" >
                Crear Cuenta
            </button>
        </form>
    </div>
</main> 

{% endblock main_content %}