{% extends "index.html" %} 
{% block title %}
    Crear Cuenta | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/crearCuenta.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
    <div class="formulario">
        <h1>Crear cuenta</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="container-correo">
                <div class="username">
                    <input type="text" name="email" required>
                    <label>Correo*</label>
                </div>
            </div>    
            <section class="text-columns">    
                <div class="username">
                    <input type="text" name="nombre" required>
                    <label>Nombre*</label>
                </div>
                <div class="username2">
                    <input type="text" id="nombre" name="segundo_nombre" placeholder=" " />
                    <label>Segundo Nombre</label>
                </div>
                <div class="username">
                    <input type="text" name="apellido" required>
                    <label>Apellido*</label>
                </div>
                <div class="username2">
                    <input type="text" id="nombre" name="segundo_apellido" placeholder=" " />
                    <label>Segundo Apellido</label>
                </div>

                <div class="birthdate-box">
                    <form action="fecha" class="form">
                    <label class="texto-label">Fecha de Nacimiento*</label>
                    <br>
                    <input type="date" class="calendario" placeholder="AAAA-MM-DD" min="1924-01-01" max="2024-12-31" name="fecha_nacimiento" />
                    </form>  
                </div>

                {% comment %} name="fecha_nacimiento" {% endcomment %}
                <div class="tipoDoc-box">
                    <label class="texto-label">Tipo de Documento*</label>
                    <br>
                    {{ form.tipo_identificacion }}
                    {{ form.errors }}
                </div>
                <div class="username">
                    <input type="text" name="numero_identificacion" required>
                    <label>Número de Identificación*</label>
                </div>

                <div class="username">
                    <input type="password" name="password1" required>
                    <label>Contraseña*</label>
                </div>
                <div class="username">
                    <input type="password" name="password2" required>
                    <label>Validar Contraseña*</label>
                </div>
            </section>

            <button class="btn-base" type="submit" >
                Crear Cuenta
            </button>
        </form>
    </div>
</main> 

{% endblock main_content %}