{% extends "index.html" %} 
{% block title %}
    Crear Cuenta | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/crearCuenta.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<section id="pantalla-dividida">
    <div class="izquierda">
        <img class="volverinicio" src="{% static "img/fondoCC.webp" %}" alt="">
    </div>
    <div class="derecha">
        <div class="formulariocrear">
            <form method="post" autocomplete="off" >
                {% csrf_token %}
                <h1>Crear cuenta</h1>
                <div class="username">
                    <input type="email" required name="email" />
                    <label>Correo</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username">
                    <input type="text" required name="nombre" />
                    <label>Nombre</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username">
                    <input type="text" name="segundo_nombre" />
                    <label>Segundo Nombre</label>
                </div>
                <div class="username">
                    <input type="text" required name="apellido" />
                    <label>Apellido</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username">
                    <input type="text" name="segundo_apellido" />
                    <label>Segundo Apellido</label>
                </div>
                <div class="birthdate-box">
                    <input type="date" required name="fecha_nacimiento" />
                    <label>Fecha de Nacimiento</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username">
                    <input type="text" required name="numero_identificacion" />
                    <label>Número de Identificación</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username">
                    <input type="password" required name="password1" />
                    <label>Contraseña</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username">
                    <input type="password" required name="password2" />
                    <label>Validar Contraseña</label>
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <div class="username" name="tipo_identificacion" >
                    {{ form.tipo_identificacion }}
                </div>
                {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% comment %} TODO: make validations {% endcomment %}
                {% endif %}
                <button type="submit" class="btnCC">Crear Cuenta</button>
            </form>
        </div>
    </div>
</section>
{% endblock main_content %}