{% extends "index.html" %} 
{% block title %}
Iniciar Sesión | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/login.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
  <div class="container-titulo">
      <h1>¡HOLA!</h1>
      <h2>Colecciona tus mejores recuerdos</h2>
  </div>
  <div class="formulario">
      <h1>INICIAR SESION</h1>
      <form method="post" autocomplete="off">
          {% csrf_token %}
          <div class="username">
              <input type="text" name="email" id="id_username" required>
              <label>Correo*</label>
          </div>
          <div class="username">
              <input type="password" name="password" id="id_password" required>
              <label>Contraseña*</label>
          </div>
          
          <a class="recordar-a " href="{% url "password_reset" %}">¿Olvidaste tu contraseña?</a>

          <input type="submit" class="btn-formulario" value="Continuar" />
          <div class="registrarse">
              <a href="{% url "registrarse" %}">¿No tienes cuenta?<br>Regístrate AQUI</a>
          </div>
      </form>
  </div>
</main> 

{% endblock main_content %}
