{% extends "index.html" %} 
{% block title %}
Iniciar Sesión | JetBoom
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/login.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
  <div class="container-titulo">
      <h1>¡HOLA!</h1>
      <h2>Colecciona tus mejores recuerdos</h2>
  </div>
  <div class="formulario">
      <h1>INICIAR SESION</h1>
      <form method="post" autocomplete="off">
          <div class="username">
              <input type="text" name="email" required>
              <label>Correo*</label>
          </div>
          <div class="username">
              <input type="password" name="password" required>
              <label>Contraseña*</label>
          </div>
         
          <a class="recordar-a " href="#olvidaste_contra">¿Olvidaste tu contraseña?</a>

              <!-- modal ¿Olvidaste tu contraseña? -->
              <article class="ligth-box" id="olvidaste_contra">
                <div class="formulario-modal2">
                  <h2>¿Olvidaste tu contraseña?</h2>
                  <p>Ingresa tu correo electrónico para enviarte el enlace de restablecimiento de contraseña.</p>
                  <form method="post">
                      <div class="username2">
                          <input type="text" required>
                          <label>Correo</label>
                      </div>
                      <div class="button-container">
                          <button href="#" class="btn-base" type="submit">
                              Restablecer
                          </button>
                      </div>
                  </form>
              </div>
                <a href="#" class="close">X</a>
              </article>

          <a href="{% url "index" %}" class="btn-base">
            Continuar
          </a>
          <div class="registrarse">
              <a href="{% url "registrarse" %}">¿No tienes cuenta?<br>Regístrate AQUI</a>
          </div>
      </form>
  </div>
</main> 

{% endblock main_content %}
