{% extends "index.html" %} 
{% block title %}
Login | JetBooms
{% endblock title%}
{% block styles_apply %} 
  {% load static %}
  <link rel="stylesheet" href="{% static "css/login.css" %}" /> 
{% endblock styles_apply %} 

{% block main_content %}
<main class="main">
  <div class="container-titulo">
    <h1>¡HOLA!</h1>
    <h2>Colecciona tus mejores recuerdos</h2>
  </div>
  <div class="formulario">
    <h1>INICIAR SESION</h1>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="username">
        <input type="email" required id="id_username" name="email" />
        <label>&nbsp;&nbsp;&nbsp;Correo</label>
      </div>
      <div class="username">
        <input type="password" required id="id_password" name="password" />
        <label>&nbsp;&nbsp;&nbsp;Contraseña</label>
      </div>
      <div class="recordar">
        <a>¿Olvidaste tu contraseña?</a>
      </div>
      <input type="submit" value="Continuar" />
      <div class="registrarse">
        <a href="/html/crearCuenta.html">
          ¿No tienes cuenta? <br />Resgistrate AQUI
        </a>
          <br />
      </div>
    </form>
  </div>
</main>
{% endblock main_content %}
